<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/application.css">
  <title>Jeff - Homepage</title>
</head>
<body>
  <header class="header">
    <a href="/"><h1>Jefferson R R Gomes</h1></a>
    <nav>
      <ul class="header-menu">
        <li><a href="/projects.erb">Projects</a></li>
        <li><a href="/education.erb">Education</a></li>
      </ul>
    </nav>
  </header>
  <main class="intro">
    <div>  
      <h1>Trainee Developer <br>at Codeminer42</h1>
      <p>living in Teresina - Brasil &#9728;&#65039;</p>
    </div>
  </main>
  <section class="about">
    <h2 class="subtitle">Education</h2>
    <div class="text">
      <h3>Degree</h3>
      <ul>
        <li>Computer Engineering - UEMA</li>
        <li>Electronics and Computer Engineering - NCL University</li>
      </ul>
      <h3>Dissertation</h3>
      <ul>
        <li>A machine learning algorithim to authenticate currency notes</li>
        <li class="li-links"><a href="https://drive.google.com/file/d/1_lqbZ93f3P5PKUXE2bTmEjXTT4hhqr7K/view?usp=sharing">Read</a></li>
      </ul>
      <h3>Summer Project: Robot labyrinth solver</h3>
      <ul>
        <li>A Micro Car labyrinth solver called Micromouse</li>
        <li class="li-links"><a href="https://www.youtube.com/watch?v=6Z3y2hkQD74">Watch</a></li>
      </ul>
    </div>
  </section>
</body>
</html>
