<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <title>Jeff - Homepage</title>
</head>
<body>
  <header class="header">
    <h1>Jefferson R R Gomes</h1>
    <nav>
      <ul class="header-menu">
        <li><a href="/projects.erb">Projetos</a></li>
        <li><a href="/education.erb">Formação acadêmica</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>
